#board-page{
  text-align:center;
  color:#5bc0de;
}
#board-write_btn{
  text-align:right;
}
#board-search{
  text-align:center;
}
#head-nav{
  background-color:black;
  border-style: none;
}
#head-nav .dropdown-menu{
  background-color:black;
}
#head-nav span{
  color:white;
}
.nav-selected{
  background-color:grey;
}
.navbar-brand{
  background-color:#5bc0de;
  color:white;
}
#read-delete_btn{
  text-align: right;
}
/* .navbar-brand span{
  color:white;
}
.navbar-nav span{
  color:white;
} */
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #5bc0de;
  border-color: #5bc0de;
}
/* .glyphicon-search{
  color: black !important;
  background-color: #000000 !important;
} */
.btn-black{
  border-width:1px;
  border-style: solid;
  border-color:#828282;
  background-color: black;
  color:black;
}
#mypage-title{
  padding-bottom:30px;
}
.col-md-3{
  border-left:solid #dddddd 5px;
}
.btn-xxs,
.btn-group-xxs > .btn {
  padding: 0.3px 0.3px;
  font-size: 1px;
  line-height: 1;
  border-radius: 2px;
  color:#000000;
}
#mypage-profile{
  padding-top:30px;
}
#mypage-info{
  padding-top:30px;
}
textarea{
  resize:none;
}
#mypage-profile-img{
  border:solid grey 1px;
}
#read-user-profile{
  padding:20px;
  border: solid grey 1px;
  margin-top:50px;
  margin-bottom:20px;
  margin-left:0px;
  margin-right:0px;
}
#read-user-profile-img{
  margin-right:30px;
}
#read-user-profile-info{

}
#read-desc{
  margin-left:15px;
}
